<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <main class="page page--center page--fullHeight login-page">
    <div class="container container--center">
      <div class="login-page__form">
        <div class="login-page__form-header">
          <a href="index.html"><img src="{{logo}}" alt="{{logoAlt}}" class="login-page__form-logo"></a>
          <h2 class="login-page__form-title">{{formTitle}}</h2>
          <p class="login-page__form-description">{{formDescription}}</p>
        </div>

        <form method="post" class="form form--login" data-login-form>
          <div class="form__controls">
            {{#each inputFields}}
              {{> input 
                id=this.id
                name=this.name
                type=this.type
                placeholder=this.placeholder
                label=this.label
              }}
            {{/each}}
          </div>
          <a class="login-page__form-resetPassword" href="#">{{forgetPassword}}</a>
          <p id="error-message"></p>
          {{#each buttons}}
            {{> button 
              label=this.label
              type=this.type
              iconName=this.iconName
              variant=this.variant
              size=this.size
              disabled=this.disabled
              class=this.class
              fullWidth=this.fullWidth
            }}
          {{/each}}
        </form>

        <div class="login-page__form-footer">
          <p class="login-page__form-footer-message">{{createAccountMessage}} <a href="{{createAccountLink}}">{{createAccount}}</a></p>
        </div>
      </div>
    </div>
  </main>

  <script src="js/views/login.mjs" type="module"></script>
  <script src="js/index.mjs" type="module"></script>
</body>

</html>
