<div class="input__wrapper">
	<input
		id="{{id}}"
		name="{{name}}"
		type="{{type}}"
		value="{{value}}"
		placeholder=" "
		class="input {{class}}"
        {{#if required}}required{{/if}}
	/>
	<label for="{{id}}" class="input__label">{{label}}</label>
</div>