<div class="textarea__wrapper">
  {{#if label}}
    <label for="{{id}}" class="textarea__label {{#if hideLabel}}sr-only{{/if}}">{{label}}</label>
  {{/if}}
  <textarea
    id="{{id}}"
    name="{{name}}"
    placeholder="{{placeholder}}"
    class="textarea {{class}}"
    data-required="{{required}}"
  >{{value}}</textarea>
</div>