<div class="textarea__wrapper">
	<textarea
		id="{{id}}"
		name="{{name}}"
		type="{{type}}"
		placeholder=" "
		class="textarea {{class}}"
        {{#if required}}required{{/if}}
	></textarea>
	<label for="{{id}}" class="textarea__label">{{label}}</label>
</div>